#custom-nav {
    background-color: #07211B;
}

body {
    background-color: white;
}

#main-page {
  display: none;
  background-color:#B2E1D7;
}

/* Animation class for fading in */
.fade-in {
  opacity: 1 !important;
  transition: opacity 2s ease-in-out;
}

/* Animation class for fading out */
.fade-out {
  opacity: 0 !important;
  transition: opacity 2s ease-in-out;
}


#overview-container {
  height: 50vw;
  width: 50vw;
  margin: auto;
}

#pageload-logo {
  width: 20vw;
}

#home-logo {
    left: 10px;
    width: 2vw;
    height: 2vw;
}

#custom-jumbo {
    background-color: white;
    height: 15vw;
}

#search-container {
    height: 30vw;
    width: 70vw;
}

button {
  text-align: center;
}

.matching-location, .matching-industry {
  text-align: center;
  background-color: transparent;
  color: #07211B;
  border: none;
  max-height: 150px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  z-index: 1;
  font-size: 70%;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

.matching-location:hover, .matching-industry:hover {
  background-color: #07211B;
  color: white;
}

#matching-locations {
  overflow-y: scroll;
}

.jobs-title {
  color: white;
}

#jobs-subtitle {
  color: black
}

#job-results {
    width: 90%;
}

.job-result {
    background-color: #07211B;
    color: white;
}

#currency-convert-title {
  color: #B2E1D7;
}

#currency-convert-subtitle {
  color: #07211B;
}

#converter-container {
    background-color: white;
    height: 20vw;
}

#baseCurrencyDropdown, #convertedCurrencyDropdown {
    height: 400px;
    overflow: auto;
}

li {
   position: relative;
   list-style-type: none; /* Remove default list item marker */
 }

 ul li, button{
   margin-left: 5px; /* Adjust the padding as needed */
   padding: 5px;
   text-indent: 15px; 

 }
 
button img, .currency-flag-style {
   position: absolute;
   top: 50%; /* Adjust the positioning as needed */
   left: 5px; /* Adjust the positioning as needed */
   transform: translateY(-50%);
   width: 20px; /* Adjust the size as needed */
   height: 20px; /* Adjust the size as needed */
   /* border-radius: 70%; Make the image circular */
 }

 button {
  width: 125px; /* Set your desired width */
  height: 40px; /* Set your desired height */
}

#baseCurrencyDropdown input, #convertedCurrencyDropdown input{
  text-indent: 10px;
  margin-left: 10px;
}

#toggleButton{
  align-self: center;
  margin: 5px;
  text-indent: 1px;
  padding: auto;
  border-radius: 50%;
}

